.audiobuttonmm .audio-button {
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 15px var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.audiobuttonmm .audio-button:hover {
    background: var(--primary-hover);
    box-shadow: 0 10px 25px var(--border-color);
}

.audiobuttonmm .icon {
    width: 24px;
    height: 24px;
    fill: var(--button-text);
    transition: transform 0.3s ease;
}

.audiobuttonmm .icon-play,
.audiobuttonmm .icon-pause {
    transform-origin: center;
}
