header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: transparent;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
    transition: all var(--transition-speed) ease;
}
header .container a {
    text-decoration: none !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.8rem;
    background: linear-gradient(to right, var(--primary-color), var(--accent));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

nav {
    background-color: rgba(
        var(--nav-bg-rgb),
        0.3
    ); /* use rgba for transparency */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Safari support */

    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: var(--radius-xxl);
    display: flex;
    align-items: center;
    gap: 2.5rem;

    border: 1px solid var(--border-color);
}

nav img {
    height: 45px;
    width: 45px;
}

nav a {
    font-size: 1.05rem;
    letter-spacing: 0.05rem;
    text-decoration: none;
    color: var(--nav-text);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
    transition: all 0.2s ease;
}

nav a:hover {
    color: var(--primary-color);
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--primary-color);
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}
